{% extends 'base_no_intro.html' %}

{% block title %}
About
{% endblock title %}

 <h3 class="text-center"><span>Search Your Details</span> </h3>
{% block body %}

  <div>
    <h3 class="text-center bg-danger text-white"><span>    About    </span> </h3>
    
    <p>The Student Management System represents an advancement in educational administration. In an era where manual processes dominate,
        this project emerges as a time-saving and highly scalable solution. By automating administrative tasks, it streamlines student-related activities, benefiting both students and college authorities. Despite its advantages, challenges remain, including manual data entry and persistent paperwork.
        Overall,the system represents progress toward efficient, organized and secure student administration.</p>


    <h3 style="text-align: center;">Team Members</h3>
    <ul style="text-align: center;">
      <strong>Muhammad Sijal</strong> <br>
      <strong>Mohammad Rumaan</strong><br>
      <strong>Muhammad Asgar Ali</strong> <br>
    </ul>
  </div>
{% endblock body %}

